<div class="attention-list-box">
	   <secition class="attention-list-item">
          <dl>
          	  <dt><img src="src/img/attention_03.jpg" alt="" /></dt>
          	  <dd>
          	  	   <div class="attention-user">
          	  	   	        <p class="about-user"><img src="src/img/cl.jpg" alt=""  class="user-head"/><span>董壮壮</span></p>
          	  	   	        <a href="" class="zan" change-bg >
          	  	   	        	<i class="fontpic  jiantou" style="color:#65c4aa;font-size: 8px;"  bg='whitebg'>&#xe64d;</i>
          	  	   	        	<span>1</span>
          	  	   	        </a>
          	  	   </div>
          	  	   <div class="attention-info">
          	  	   	 <p>与你相遇好幸运呢</p>
          	  	   </div>
          	  </dd>
          </dl>	   	
	   </secition>
	      <secition class="attention-list-item">
          <dl>
          	  <dt><img src="src/img/attention_03.jpg" alt="" /></dt>
          	  <dd>
          	  	   <div class="attention-user">
          	  	   	        <p class="about-user"><img src="src/img/cl.jpg" alt=""  class="user-head"/><span>董壮壮</span></p>
          	  	   	        <a href="" class="zan" change-bg >
          	  	   	        	<i class="fontpic  jiantou" style="color:#65c4aa;font-size: 8px;"  bg='whitebg'>&#xe64d;</i>
          	  	   	        	<span>1</span>
          	  	   	        </a>
          	  	   </div>
          	  	   <div class="attention-info">
          	  	   	 <p>与你相遇好幸运呢</p>
          	  	   </div>
          	  </dd>
          </dl>	   	
	   </secition>
	     <secition class="attention-list-item">
          <dl>
          	  <dt><img src="src/img/attention_03.jpg" alt="" /></dt>
          	  <dd>
          	  	   <div class="attention-user">
          	  	   	        <p class="about-user"><img src="src/img/cl.jpg" alt=""  class="user-head"/><span>董壮壮</span></p>
          	  	   	        <a href="" class="zan" change-bg >
          	  	   	        	<i class="fontpic  jiantou" style="color:#65c4aa;font-size: 8px;"  bg='whitebg'>&#xe64d;</i>
          	  	   	        	<span>1</span>
          	  	   	        </a>
          	  	   </div>
          	  	   <div class="attention-info">
          	  	   	 <p>与你相遇好幸运呢</p>
          	  	   </div>
          	  </dd>
          </dl>	   	
	   </secition>
	     <secition class="attention-list-item">
          <dl>
          	  <dt><img src="src/img/attention_03.jpg" alt="" /></dt>
          	  <dd>
          	  	   <div class="attention-user">
          	  	   	        <p class="about-user"><img src="src/img/cl.jpg" alt=""  class="user-head"/><span>董壮壮</span></p>
          	  	   	        <a href="" class="zan" change-bg >
          	  	   	        	<i class="fontpic  jiantou" style="color:#65c4aa;font-size: 8px;"  bg='whitebg'>&#xe64d;</i>
          	  	   	        	<span>1</span>
          	  	   	        </a>
          	  	   </div>
          	  	   <div class="attention-info">
          	  	   	 <p>与你相遇好幸运呢</p>
          	  	   </div>
          	  </dd>
          </dl>	   	
	   </secition>
</div>