<div class="car-wrap">
	    <header class="oxygen-header-bar">
			<h3 class="footer_title">购物车</h3>
			<div class="icon-group left-icon-group">
				<a href="" class="icon  " ng-click="back()">
				<output class="fontpic" style='font-size: 24px;'>&#xe605;</output>
			    </a>
	        </div>
	        <div class="icon-group right-icon-group">
				<a href="" class="icon  " >
				<!--<output class="edit">编辑</output>-->
				    <output class="success">完成</output>
			    </a>
	        </div>
       </header>
        <div class="car-view">
        		<div class="car-list-box">
        			   <section class="car-item">
        			   	      <div class="item-left">
        			   	      	<label for="">
        			   	      			<input type="checkbox" class="checkbox" /><span></span>
        			   	      	</label>
        			   	      </div>
        			   	      <div class="item-right">
        			   	      	 <dl>
        			   	      	   <dt><img src="./src/images/xx.jpg" alt="" /></dt>
        			   	      	   <dd>
        			   	      	   	      <!--<div class="info" style="background: #fff;">
        			   	      	   	      	 <p class="goods-title">HaleyCoCo 薄荷绿小清新棉质进口料三角软杯内衣</p>
        			   	      	   	      <div class="goods-info">
        			   	      	   	      	   <span>尺寸 ： <b>XS</b></span>
        			   	      	   	      	   <span class="price"><time>￥265</time><time>x1</time></span>
        			   	      	   	      </div>
        			   	      	   	      </div>-->
        			   	      	   	      <div class="goods-count">
        			   	      	   	      	   <section class="count-left">
        			   	      	   	      	   	   <div class="left-top">
        			   	      	   	      	   	   	 <i class="fontpic">&#xe631;</i><input type="text" /><i class="fontpic">&#xe601;</i>
        			   	      	   	      	   	   </div>
        			   	      	   	      	   	   <div class="left-btm">
        			   	      	   	      	   	   	  <span class="size">XS<span>
        			   	      	   	      	   	   	  <a href="" class="choose-size">></a>
        			   	      	   	      	   	   </div>
        			   	      	   	      	   </section>
        			   	      	   	      	   <section class="count-right">
        			   	      	   	      	   	  <i class="fontpic">&#xe696;</i>
        			   	      	   	      	   </section>
        			   	      	   	      	 
        			   	      	   	      </div>
        			   	      	   	     
        			   	      	   </dd>
        			   	      </dl>
        			   	      </div>
        			   </section>
        			     
        		</div>
        </div>
       <footer class="car-footer-bar">
       	 <div class="account-left">
        			   	      	<label for="">
        			   	      			<input type="checkbox" class="checkbox" />   <span></span>  
        			   	      			
        			   	      	</label>
        			   	      	&nbsp;
        			   	      	<output>全选</output>
        			   	      	<time>总价: <output>￥0</output></time>
        </div>
       	 <a href="" class="account-right">结算</a>
       </footer>
</div>