<div class="exp-bg-wrap">
	<header class="exptiyanbg-header-bar">
		<div class="icon-group left-icon-group">
			<a   ui-sref="Experience" class="icon">
				<i  class="fontpic back">&#xe605;</i>
			</a>
		</div>
		
		<h3 class="footer_title">内衣体验报告</h3>
		<div class="icon-group right-icon-group">
			<a  ui-sref="search" class="icon">
				<i  class="fontpic zan">&#xe633;</i>
			</a>
			<a ui-sref="car"  class="icon">
				<i  class="fontpic">&#xe662;</i>
			</a>
		</div>
	</header>
	<div class="exptiyanbg-content">
		<div class="tiyanpro">
			<dl>
				<dt>
					<img src="./src/img/exp14.png" alt="">
				</dt>
				<dd>
					<b>une nana cool FUN FUN WEEK系列 黑色一片式无钢圈模杯内衣</b>
					<span>购买尺码:S</span>
				</dd>
			</dl>
		</div>
		<div class="tiyanshi">
			<dl>
				<dt><img src="./src/img/exp-dapei1.png" alt=""></dt>
				<dd>
					<p>董壮壮</p>
					<p><span>70B</span>|<span>上胸围<b>79cm</b></span>|<span>下胸围<b>70cm</b></span></p>
				</dd>
			</dl>
		</div>
		<div class="tiyanjieguo">
			<p>现在再也不买厚罩杯的了。一般都是软蕾丝。这个杯比较硬的在我的内衣中都算是很少的了。不聚拢但是我不care是否聚拢啊。依旧有胸型。完美。闺蜜很喜欢。还非要穿着拍一张照。</p>
		</div>
		<div class="chuanbg">
			<h3><img src="./src/img/expbg.png" alt=""></h3>
			<p>上传内衣体验报告可获得内衣基金哦~</p>
			<p><span>上传体检报告</span></p>
		</div>
	</div>
</div>