<div class="jujian-wrap">
	<header class="expjujia-header-bar">
		<div class="icon-group left-icon-group">
			<a ng-click="back()" class="icon">
				<i  class="fontpic back">&#xe605;</i>
			</a>
		</div>
		
		<h3 class="footer_title">75B</h3>
	
	</header>
	<div class="jujia-content">
		<div class="quanbu">
				<dl class="dls">
					<dt><img src="./src/img/exp5.jpg" alt=""></dt>
					<dd>
						<h6>民间超模邹大炮</h6>
						<span>游戏设计师，杭州，70C</span>
					</dd>
				</dl>
				<div class="swiper-container swipers7">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="./src/img/exp6.jpg" alt="">
						</div>
						 <div class="swiper-slide">
							<img src="./src/img/exp7.jpg" alt="">
						</div>
						<div class="swiper-slide">
							<img src="./src/img/exp6.jpg" alt="">
						</div>
						<div class="swiper-slide">
							<img src="./src/img/exp7.jpg" alt="">
						</div> 
					</div>
				</div>
				<p>#卧室 #仙 #吊袜带 #新娘 #约会 #热门精选 #眼罩</p>
				<p>相关品牌：pleasure slate</p>
				<p class="eye"><a href="#"><i class="icon iconfont">&#xe633;</i><span>0</span></a><a href="#"><i class="icon iconfont">&#xe611;</i><span>0</span></a>
				</p>
		</div>
		<div class="quanbu">
				<dl class="dls">
					<dt><img src="./src/img/exp5.jpg" alt=""></dt>
					<dd>
						<h6>民间超模邹大炮</h6>
						<span>游戏设计师，杭州，70C</span>
					</dd>
				</dl>
				<div class="swiper-container swipers7">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="./src/img/exp6.jpg" alt="">
						</div>
						 <div class="swiper-slide">
							<img src="./src/img/exp7.jpg" alt="">
						</div>
						<div class="swiper-slide">
							<img src="./src/img/exp6.jpg" alt="">
						</div>
						<div class="swiper-slide">
							<img src="./src/img/exp7.jpg" alt="">
						</div> 
					</div>
				</div>
				<p>#卧室 #仙 #吊袜带 #新娘 #约会 #热门精选 #眼罩</p>
				<p>相关品牌：pleasure slate</p>
				<p class="eye"><a href="#"><i class="icon iconfont">&#xe633;</i><span>0</span></a><a href="#"><i class="icon iconfont">&#xe611;</i><span>0</span></a>
				</p>
		</div>
		<div class="quanbu">
				<dl class="dls">
					<dt><img src="./src/img/exp5.jpg" alt=""></dt>
					<dd>
						<h6>民间超模邹大炮</h6>
						<span>游戏设计师，杭州，70C</span>
					</dd>
				</dl>
				<div class="swiper-container swipers7">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="./src/img/exp6.jpg" alt="">
						</div>
						 <div class="swiper-slide">
							<img src="./src/img/exp7.jpg" alt="">
						</div>
						<div class="swiper-slide">
							<img src="./src/img/exp6.jpg" alt="">
						</div>
						<div class="swiper-slide">
							<img src="./src/img/exp7.jpg" alt="">
						</div> 
					</div>
				</div>
				<p>#卧室 #仙 #吊袜带 #新娘 #约会 #热门精选 #眼罩</p>
				<p>相关品牌：pleasure slate</p>
				<p class="eye"><a href="#"><i class="icon iconfont">&#xe633;</i><span>0</span></a><a href="#"><i class="icon iconfont">&#xe611;</i><span>0</span></a>
				</p>
		</div>
	</div>
</div>