<div class="exp-chankan-wrap">
	<header ng-include="'./src/views/Exp-chakan-header.html'"></header>
	<div class="Exp-chakan-content">
		<div class="swiper-container swipers1 gengduo" id="swiper-container2" >
			<div class="swiper-wrapper">
				<div class="swiper-slide active-nav">全部</div>
					
				<div class="swiper-slide">我关注的</div>	
				
			</div>
		</div>
		<div class="swiper-container swipers2 genguo-content" id="swiper-container3" >
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<section>
						<h1><span><img src="./src/img/exp17.png" alt=""></span></h1>
						<p>亚美呀</p>
						<p><b>70B</b>|<b>42报告</b>|<b>7126粉丝</b></p>
						<p><span>√正在关注</span></p>
						<div class="pics"><img src="./src/img/exp18_r1_c1.png" alt=""><img src="./src/img/exp18_r1_c3.png" alt=""><img src="./src/img/exp18_r1_c5.png" alt=""></div>
					</section>
					<section>
						<h1><span><img src="./src/img/exp17.png" alt=""></span></h1>
						<p>亚美呀</p>
						<p><b>70B</b>|<b>42报告</b>|<b>7126粉丝</b></p>
						<p><span>√正在关注</span></p>
						<div class="pics"><img src="./src/img/exp18_r1_c1.png" alt=""><img src="./src/img/exp18_r1_c3.png" alt=""><img src="./src/img/exp18_r1_c5.png" alt=""></div>
					</section>
				</div>
				 <div class="swiper-slide">
				 	<section>
						<h1><span><img src="./src/img/exp17.png" alt=""></span></h1>
						<p>亚美呀</p>
						<p><b>70B</b>|<b>42报告</b>|<b>7126粉丝</b></p>
						<p><span>√正在关注</span></p>
						<div class="pics"><img src="./src/img/exp18_r1_c1.png" alt=""><img src="./src/img/exp18_r1_c3.png" alt=""><img src="./src/img/exp18_r1_c5.png" alt=""></div>
					</section>
					<section>
						<h1><span><img src="./src/img/exp17.png" alt=""></span></h1>
						<p>亚美呀</p>
						<p><b>70B</b>|<b>42报告</b>|<b>7126粉丝</b></p>
						<p><span>√正在关注</span></p>
						<div class="pics"><img src="./src/img/exp18_r1_c1.png" alt=""><img src="./src/img/exp18_r1_c3.png" alt=""><img src="./src/img/exp18_r1_c5.png" alt=""></div>
					</section>
					
				</div>
			</div>
		</div>
	 </div>
</div>