<div class="guanzhu-wrap">
	<header ng-include="'./src/views/Expguanzhu_header.html'"></header>
	<div class="guanzhu-content">
		<div class="guanzhu-content-top">
			<dl>
				<dt><img src="./src/img/exp10.png" alt=""></dt>
				<dd>
					<b>十点红指甲</b>
					<em>#70A #北京市 #学生</em>
					<span>+关注</span>
					<i>...</i>
				</dd>
			</dl>
			<a href="#">
				<span>4</span>
				<em>关注</em>
			</a>
			<a href="#">
				<span>699</span>
				<em>粉丝</em>
			</a>
		</div>
		<div class="swiper-container swipers11" id="swiper-container11" >
			<div class="swiper-wrapper">
				<div class="swiper-slide active-nav">体验报告<span>15</span></div>
					
				<div class="swiper-slide">Ta写过38</div>	
				<div class="swiper-slide">参与话题8</div>
			</div>
		</div>
		<div class="swiper-container swipers12" id="swiper-container12">
			<div class="swiper-wrapper">

				<div class="swiper-slide mj">
					<div class="quanbu">
								<dl class="dls">
									<dt><img src="./src/img/exp5.jpg" alt=""></dt>
									<dd>
										<h6>民间超模邹大炮</h6>
										<span>游戏设计师，杭州，70C</span>
									</dd>
								</dl>
								<div class="swiper-container swipers7">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<img src="./src/img/exp6.jpg" alt="">
										</div>
										 <div class="swiper-slide">
											<img src="./src/img/exp7.jpg" alt="">
										</div>
										<div class="swiper-slide" class="slide-tu">
											<img src="./src/img/exp6.jpg" alt="">
										</div>
										<div class="swiper-slide">
											<img src="./src/img/exp7.jpg" alt="">
										</div> 
									</div>
								</div>
								<p>#卧室 #仙 #吊袜带 #新娘 #约会 #热门精选 #眼罩</p>
								<p>相关品牌：pleasure slate</p>
								<p class="eye"><a href="#"><i class="icon iconfont">&#xe633;</i><span>0</span></a><a href="#"><i class="icon iconfont">&#xe611;</i><span>0</span></a>
  								</p>
					</div>
					<div class="quanbu">
								<dl class="dls">
									<dt><img src="./src/img/exp5.jpg" alt=""></dt>
									<dd>
										<h6>民间超模邹大炮</h6>
										<span>游戏设计师，杭州，70C</span>
									</dd>
								</dl>
								<div class="swiper-container swipers7">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<img src="./src/img/exp6.jpg" alt="">
										</div>
										 <div class="swiper-slide">
											<img src="./src/img/exp7.jpg" alt="">
										</div>
										<div class="swiper-slide">
											<img src="./src/img/exp6.jpg" alt="">
										</div>
										<div class="swiper-slide">
											<img src="./src/img/exp7.jpg" alt="">
										</div> 
									</div>
								</div>
								<p>#卧室 #仙 #吊袜带 #新娘 #约会 #热门精选 #眼罩</p>
								<p>相关品牌：pleasure slate</p>
								<p class="eye"><a href="#"><i class="icon iconfont">&#xe633;</i><span>0</span></a><a href="#"><i class="icon iconfont">&#xe611;</i><span>0</span></a>
  								</p>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="guanzhiu-tab2">
						<img src="./src/img/exp15.png" alt="">
						<p>这里还没有内容哦~</p>
					</div>
				</div>
				<div class="swiper-slide">
					<section>
						<h6><span>求支招 | 只要你说 我们就来</span></h6>
						<p>By |van</p>
						<p><span>18071浏览</span>|<span>231参与</span></p>
						<div class="tucao">
							<dl>
								<dt><img src="./src/img/tucao.png" alt=""></dt>
								<dd>
									<span>十点红指甲</span>
									<a href="#"><b><i class="icon iconfont">&#xe60a;</i>2</b></a>
								</dd>
							</dl>
							<ul>
								<li>北京啊</li>
								<li>这么大的雾霾当然需要氧气</li>
								<li>雾霾天不能出门浪</li>
								<li>在家更需要漂亮小衣衣来装点生活</li>
								<li>因为一件内衣不想出门</li>
							</ul>
						</div>
					</section>
					<section>
						<h6><span>求支招 | 只要你说 我们就来</span></h6>
						<p>By |van</p>
						<p><span>18071浏览</span>|<span>231参与</span></p>
						<div class="tucao">
							<dl>
								<dt><img src="./src/img/tucao.png" alt=""></dt>
								<dd>
									<span>十点红指甲</span>
									<a href="#"><b><i class="icon iconfont">&#xe60a;</i>2</b></a>
								</dd>
							</dl>
							<ul>
								<li>北京啊</li>
								<li>这么大的雾霾当然需要氧气</li>
								<li>雾霾天不能出门浪</li>
								<li>在家更需要漂亮小衣衣来装点生活</li>
								<li>因为一件内衣不想出门</li>
							</ul>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
</div>