 <div class="exp-banner-wrap">
	<header ng-include="'./src/views/Expbanner_header.html'"></header>
	<div class="exp-banner-content">
		<div class="guanzhu-mx">
			<dl>
				<dt><img src="./src/img/exp_banner1.jpg" alt=""></dt>
				<dd>
					<a href="#">
						<span>罩杯</span>
						<b>70B</b>
					</a>
					<a href="#">
						<span>粉丝</span>
						<b>7126</b>
					</a>
					<a href="#">
						<em>√正在关注</em>
					</a>
				</dd>
			</dl>
			
		</div>
		 <div class="mx-content">
			<h6>恭喜发财，祝你来年财源滚滚，貌美如花。看在我那么萌萌哒的份上，真的舍不得给我来一份好运红包吗？</h6>
			<p><span>#派对</span><span>#萌宠</span><span>#小清新</span><span>#本命年</span></p>
		</div> 
		<div class="xiangguan">
			<p><span>相关品牌：#Mimi Holiday</span></p>
		</div>
		<div class="xiangqing_tu">
			<ul>
				<li><img src="./src/img/exp_banner2.jpg" alt=""></li>
				<li><img src="./src/img/exp_banner3.jpg" alt=""></li>
				<li><img src="./src/img/exp_banner4.jpg" alt=""></li>
				<li><img src="./src/img/exp_banner5.jpg" alt=""></li>
			</ul>
			<div class="warning">
				<p>-内衣颜色及细节，以单品介绍为准-</p>
				<p>-未经体验师允许，请勿擅用任何图片-</p>
			</div>
		</div> 
		<div class="xiangguan_danpin">
			<p class="danpin">相关单品</p>
			<dl>
				<dt><img src="./src/img/exp_banner7.png" alt=""></dt>
				<dd>
					<p>Mimi Holiday CHERRY</p>
					<p>DROP黑色蕾丝红色樱桃刺绣</p>
					<span>￥675</span>
					<a href="#"><img src="./src/img/exp_banner8_r1_c1.png" alt=""></a>
					<a href="#" class="a_right"><img src="./src/img/exp_banner8_r1_c3.png" alt=""></a>
				</dd>
			</dl>
		</div>
		<div class="ty_xq">
			<p><img src="./src/img/exp_banner9.png" alt=""></p>
			<h6>你也想成为内衣体验师</h6>
			<p><a href="#">查看详情</a></p>
		</div> 
	</div>
	
</div>
