<footer class="oxygen_footer_bar">
            <a ui-sref="Home" class="index_home" ui-sref-active='on'><i class="fontpic">&#xe61d;</i><span>首页</span></a>
            <a ui-sref="Experience" class="index_home" ui-sref-active='on'><i class="fontpic">&#xe618;</i><span>体验师</span></a>
            <a ui-sref="Shop.shopping" class="index_home" ui-sref-active='on'><i class="fontpic">&#xe642;</i><span>商店</span></a>
            <a ui-sref="Topic.all" class="index_home" ui-sref-active='on'><i class="fontpic"> &#xe615;</i><span>话题</span></a>
            <a ui-sref="Person" class="index_home" ui-sref-active='on'><i class="fontpic">&#xe672;</i><span>我</span></a>
        </footer>
