<ui-view>
	<div class="person">
		<i class="person-close" ui-sref="Home">&#xe60e;</i>
		<div class="person-cont" ng-controller="perCon">
			<div class="person-pic">
				<img src="src/images/logo_03.png" alt="">
			</div>
			<input type="text" placeholder="邮箱/手机号" ng-model="user">
			<input type="password" placeholder="密码" ng-model="ps">
			<p ng-show="isUser" class="tip">您输入的账号和密码不符</p>
			<a ui-sref="Person.perPassWord" class="person-forget">忘记密码</a>
			<div class="person-btn">
				<button ng-click="check()">登录</button>
				<button>创建账号</button>
			</div>
			<div class="person-line">
				<span>OR</span>
			</div>
			<div class="person-btns">
				<button ui-sref="Person.perLogin"><img src="src/images/微信.png" alt="">微信账号登录</button>
				<a href="http://service.weibo.com/share/share.php?url=encodeURIComponent( shareInfo.url )&title='日记'&appkey='new Date().getTime()'&pic='encodeURIComponent( shareInfo.img )'&ralateUid=&searchPic=false"><button><img src="src/images/新浪微博.png" alt="">微博账号登录</button></a>
			</div>
		</div>
	</div>
</ui-view>