
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1486699923610'); /* IE9*/
  src: url('iconfont.eot?t=1486699923610#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1486699923610') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1486699923610') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1486699923610#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shezhi:before { content: "\f013e"; }

.icon-order:before { content: "\e62f"; }

.icon-guanbi:before { content: "\e60e"; }

.icon-gouwuche:before { content: "\e607"; }

.icon-weixin:before { content: "\e63b"; }

.icon-fanhui:before { content: "\e774"; }

.icon-pyq:before { content: "\e601"; }

.icon-myfriend:before { content: "\e612"; }

.icon-weibo:before { content: "\e610"; }

.icon-xinlangweibo:before { content: "\e65c"; }

.icon-weixin1:before { content: "\e501"; }

