<div class="hbanner2">
    <header class="expbanner-header-bar">
        <div class="icon-group left-icon-group">
            <a ui-sref="Home" class="icon">
                <i class="fontpic back">&#xe605;</i>
            </a>
        </div>

        <h3 class="footer_title"></h3>
        <div class="icon-group right-icon-group">
            <a ui-sref="search" class="icon">
                <i class="fontpic zan">&#xe633;</i>
            </a>
            <a ui-sref="car" class="icon">
                <i class="fontpic">&#xe662;</i>
            </a>
        </div>
    </header>
    <div class="imgbox">
        <div class="firstimg">
            <img src="./src/images/shouye/hbanner2/images/banner2-1_02.jpg" alt="">
        </div>
        <div class="pureimg">
            <img src="./src/images/shouye/hbanner2/images/banner2-2_02.jpg" alt="">
            <img src="./src/images/shouye/hbanner2/images/banner2-3_02.jpg" alt="">
            <img src="./src/images/shouye/hbanner2/images/banner2-4_02.jpg" alt="">
            <img src="./src/images/shouye/hbanner2/images/banner2-5_02.jpg" alt="">
        </div>
        <div class="goodsimg">
            <img src="./src/images/shouye/hbanner2/images/banner2-6_02.jpg" alt="">
            <p>Tina Wilson × 氧气</p>
        </div>
        <div class="goodsimg goodsimg-bot">
            <img src="./src/images/shouye/hbanner2/images/banner2-bgline_03.jpg" alt="">
            <img src="./src/images/shouye/hbanner2/images/banner2-7_02.jpg" alt="">
            <p>Tina Wilson × 氧气</p>
            <h3 class="goodspri">￥ 520</h3>
        </div>
        <div class="pureimg">
            <img src="./src/images/shouye/hbanner2/images/banner2-9_02.jpg" alt="">
            <img src="./src/images/shouye/hbanner2/images/banner2-10_02.jpg" alt="">
            <img src="./src/images/shouye/hbanner2/images/banner2-11_02.jpg" alt="">
            <img src="./src/images/shouye/hbanner2/images/banner2-12_02.jpg" alt="">
        </div>

        <div class="goodsimg">
            <img src="./src/images/shouye/hbanner2/images/banner2-13_02.jpg" alt="">
            <p>Tina Wilson × 氧气</p>
            <h3 class="goodspri througline">￥ 525</h3>
            <h3 class="goodspri">￥ 420</h3>
        </div>
        <div class="pureimg">
            <img src="./src/images/shouye/hbanner2/images/banner2-14_02.jpg" alt="">
            <img src="./src/images/shouye/hbanner2/images/banner2-15_02.jpg" alt="">
            <img src="./src/images/shouye/hbanner2/images/banner2-16_02.jpg" alt="">
            <img src="./src/images/shouye/hbanner2/images/banner2-17_02.jpg" alt="">
            <img src="./src/images/shouye/hbanner2/images/banner2-18_02.jpg" alt="">
        </div>
        <div class="goodsimg">
            <img src="./src/images/shouye/hbanner2/images/banner2-19_02.jpg" alt="">
            <p>Tina Wilson × 氧气</p>
            <h3 class="goodspri througline">￥ 495</h3>
            <h3 class="goodspri">￥ 396</h3>
        </div>
        <div class="goodsimg goodsimg-bot">
            <img src="./src/images/shouye/hbanner2/images/banner2-bgline_03.jpg" alt="">
            <img src="./src/images/shouye/hbanner2/images/banner2-20_02.jpg" alt="">
            <p>Tina Wilson × 氧气</p>
            <h3 class="goodspri througline">￥ 495</h3>
            <h3 class="goodspri">￥ 396</h3>
        </div>
        <div class="pureimg">
            <img src="./src/images/shouye/hbanner2/images/banner2-27_02.jpg" alt="">
            <img src="./src/images/shouye/hbanner2/images/banner2-28_02.jpg" alt="">
            <img src="./src/images/shouye/hbanner2/images/banner2-29_02.jpg" alt="">
            <img src="./src/images/shouye/hbanner2/images/banner2-30_02.jpg" alt="">
        </div>
        <div class="goodsimg">
            <img src="./src/images/shouye/hbanner2/images/banner2-31_02.jpg" alt="">
            <p>Tina Wilson × 氧气</p>
            <h3 class="goodspri througline">￥ 495</h3>
            <h3 class="goodspri">￥ 396</h3>
        </div>
        <div class="goodsimg goodsimg-bot">
            <img src="./src/images/shouye/hbanner2/images/banner2-bgline_03.jpg" alt="">
            <img src="./src/images/shouye/hbanner2/images/banner2-32_02.jpg" alt="">
            <p>Tina Wilson × 氧气</p>
            <h3 class="goodspri througline">￥ 495</h3>
            <h3 class="goodspri">￥ 396</h3>
        </div>
        <div class="pureimg">
            <img src="./src/images/shouye/hbanner2/images/banner2-33_02.jpg" alt="">
            <img src="./src/images/shouye/hbanner2/images/banner2-34_02.jpg" alt="">
        </div>
    </div>

    <div class="xiangguan_danpin">
        <p class="danpin">相关单品</p>
        <dl>
            <dt><img src="./src/images/shouye/hbanner2/images/goodslist1.jpg" alt=""></dt>
            <dd>
                <p>Mimi Holiday CHERRY</p>
                <p>DROP黑色蕾丝红色樱桃刺绣</p>
                <span>￥675</span>
                <a href="#"><img src="./src/img/exp_banner8_r1_c1.png" alt=""></a>
                <a href="#" class="a_right"><img src="./src/img/exp_banner8_r1_c3.png" alt=""></a>
            </dd>
        </dl>
        <dl>
            <dt><img src="./src/images/shouye/hbanner2/images/goodslist2.jpg" alt=""></dt>
            <dd>
                <p>Mimi Holiday CHERRY</p>
                <p>DROP黑色蕾丝红色樱桃刺绣</p>
                <span>￥675</span>
                <a href="#"><img src="./src/img/exp_banner8_r1_c1.png" alt=""></a>
                <a href="#" class="a_right"><img src="./src/img/exp_banner8_r1_c3.png" alt=""></a>
            </dd>
        </dl>
        <dl>
            <dt><img src="./src/images/shouye/hbanner2/images/goodslist3.jpg" alt=""></dt>
            <dd>
                <p>Mimi Holiday CHERRY</p>
                <p>DROP黑色蕾丝红色樱桃刺绣</p>
                <span>￥675</span>
                <a href="#"><img src="./src/img/exp_banner8_r1_c1.png" alt=""></a>
                <a href="#" class="a_right"><img src="./src/img/exp_banner8_r1_c3.png" alt=""></a>
            </dd>
        </dl>
        <dl>
            <dt><img src="./src/images/shouye/hbanner2/images/goodslist4.jpg" alt=""></dt>
            <dd>
                <p>Mimi Holiday CHERRY</p>
                <p>DROP黑色蕾丝红色樱桃刺绣</p>
                <span>￥675</span>
                <a href="#"><img src="./src/img/exp_banner8_r1_c1.png" alt=""></a>
                <a href="#" class="a_right"><img src="./src/img/exp_banner8_r1_c3.png" alt=""></a>
            </dd>
        </dl>
        <dl>
            <dt><img src="./src/images/shouye/hbanner2/images/goodslist5.jpg" alt=""></dt>
            <dd>
                <p>Mimi Holiday CHERRY</p>
                <p>DROP黑色蕾丝红色樱桃刺绣</p>
                <span>￥675</span>
                <a href="#"><img src="./src/img/exp_banner8_r1_c1.png" alt=""></a>
                <a href="#" class="a_right"><img src="./src/img/exp_banner8_r1_c3.png" alt=""></a>
            </dd>
        </dl>
        <dl>
            <dt><img src="./src/images/shouye/hbanner2/images/goodslist6.jpg" alt=""></dt>
            <dd>
                <p>Mimi Holiday CHERRY</p>
                <p>DROP黑色蕾丝红色樱桃刺绣</p>
                <span>￥675</span>
                <a href="#"><img src="./src/img/exp_banner8_r1_c1.png" alt=""></a>
                <a href="#" class="a_right"><img src="./src/img/exp_banner8_r1_c3.png" alt=""></a>
            </dd>
        </dl>
        <dl>
            <dt><img src="./src/images/shouye/hbanner2/images/goodslist7.jpg" alt=""></dt>
            <dd>
                <p>Mimi Holiday CHERRY</p>
                <p>DROP黑色蕾丝红色樱桃刺绣</p>
                <span>￥675</span>
                <a href="#"><img src="./src/img/exp_banner8_r1_c1.png" alt=""></a>
                <a href="#" class="a_right"><img src="./src/img/exp_banner8_r1_c3.png" alt=""></a>
            </dd>
        </dl>
    </div>
</div>