<div class="homesail-box">
    <header class="expbanner-header-bar">
        <div class="icon-group left-icon-group">
            <a class="icon" ng-click="back()">
                <i class="fontpic back">&#xe605;</i>
            </a>
        </div>

        <h3 class="footer_title">44458次阅读</h3>
        <div class="icon-group right-icon-group">
            <a ui-sref="search" class="icon">
                <i class="fontpic zan">&#xe633;</i>
            </a>
            <a ui-sref="car" class="icon">
                <i class="fontpic">&#xe662;</i>
            </a>
        </div>
    </header>
    <div class="hs-main-box">
        <h1>这可能是氧气有史以来 最震撼的大促</h1>
        <p class="hs-by-greey">by 氧气</p>
        <span class="hs-border-greey">优惠别错过</span>

        <div class="hs-border-box hs-border-box1">
            <img src="./src/images/shouye/suibilist/images/1_03.jpg" alt="">
            <p class="hs-txt-big">氧气季末要大促 拦也拦不住</p>
            <p class="hs-txt-big">还非说要搞大的</p>
            <p class="hs-txt-smblack">这次大促究竟要搞多大</p>
            <p class="hs-txt-big color-red">款式多 / 品牌大 / 尺码全</p>
            <p class="hs-txt-sma">几乎你在氧气知道的所有品牌的<b>近千款产品</b></p>
            <p class="hs-txt-sma">都将加入<b class="color-red">氧气季末折扣，低至一折</b></p>
        </div>
        <div class="hs-border-box hs-border-box2">
            <p class="hs-txt-big">近千款是什么概念</p>
            <p class="hs-txt-sma">按照App单页展示6个单品来计算</p>
            <p class="hs-txt-sma">下滑200页才能看完所有大促单品</p>
            <img src="./src/images/shouye/suibilist/images/3_03.jpg" alt="">

            <p class="hs-txt-right"><i>LoveStories 2016A/W的贵华袍子</i></p>
            <img src="./src/images/shouye/suibilist/images/3_06.jpg" alt="">
            <p class="hs-txt-right"><i>LoveStories 2016A/W的贵华袍子</i></p>

            <p class="hs-txt-sma hs-txt-top">单页展示6个单品来计算</p>
            <p class="hs-txt-sma">200页才能看完所有大促单品</p>
            <p class="hs-txt-sma">按照App单页展示6个单品来计算</p>
            <p class="hs-txt-sma">下滑200页才能看完所有大促</p>
            <p class="hs-txt-sma">页才能看完所有大促单品</p>

        </div>
        <div class="hs-border-box">
            <img src="./src/images/shouye/suibilist/images/5_03.jpg" alt="">



        </div>





        <!--<p class="hs-txt-green">
            by 氧气

        </p>

        <span>优惠别错过</span>

        <h4>几乎每件都是限量珍藏</h4>
        <img src="" alt="">
        <div class="hs-txt-black">
            <p>九个大促专场同步首发</p>
            <p>匹配氧气编辑倾囊推荐</p>
            <P>最值得买的款式一一呈现</P>
            <p>认准上面这些红色SALE</p>
            <p>挑到最值好货</p>
        </div>
        <h3 class="hs-tips-title">
            扫货攻略二
        </h3>
        <h4 class="hs-title-red">
            仔细阅读<b>氧气CEO写的挑选指南</b>
        </h4>
        <div class="hs-txt-black">
            <p>提问：薅羊毛最怕什么？</p>
            <p>回答：薅到根本穿不了的羊毛！</p>
            <P>最值得买的款式一一呈现</P>
            <p>认准上面这些红色SALE</p>
            <p>挑到最值好货</p>
        </div>-->
    </div>
</div>