<div class="config">
	<div class="config-header">
		<a href="" ui-sref="Person.perLogin">&#xe604;</a>
		<h1>个人设置</h1>
	</div>
	<div class="config-content">
		<ul class="config-ul">
			<li>收货地址<span> <b>&#xe620;</b></span></li>
			<li>图片质量<span>智能切换 <b>&#xe620;</b></span></li>
			<li>绑定手机<span> <b>&#xe620;</b></span></li>
			<li>清除缓存<span>188MB <b>&#xe620;</b></span></li>
			<li>购买说明<span> <b>&#xe620;</b></span></li>
			<li>社区规范<span> <b>&#xe620;</b></span></li>
			<li>黑名单<span> <b>&#xe620;</b></span></li>
			<li>意见反馈<span> <b>&#xe620;</b></span></li>
			<li>关于氧气<span> <b>&#xe620;</b></span></li>
			<li>检查更新<span> <b>&#xe620;</b></span></li>
			<li>支持氧气<span> <b>&#xe620;</b></span></li>
			<li>退出账号<span> <b>&#xe620;</b></span></li>
		</ul>
		
	</div>
</div>