<div class="fund">
	<div class="fund-header">
		<a href="" ui-sref="Person.perLogin">&#xe604;</a>
		<h1>我的内衣基金</h1>
		<a href="">账户记录</a>
	</div>
	<div class="fund-content">
		<div class="fund-box">
			<h2>我的内衣基金（元）</h2>
			<p>O2 BRA CASH</p>
			<h3>0.00</h3>
			<ul>
				<li><img src="src/images/a_03.png" alt="">充值内衣基金</li>
				<li><img src="src/images/a1_03.png" alt="">兑换礼品卡</li>
			</ul>
			<h6>礼品卡使用说明</h6>
		</div>
		<div class="fund-con">
			<ul>
				<li>
					<dl>
						<dt><img src="src/images/pig_07.png" alt=""></dt>
						<dd>
							<p>今日总收入（元）</p>
							<h4>0.00</h4>
						</dd>
					</dl>
					<dl>
						<dt><img src="src/images/pig_10.png" alt=""></dt>
						<dd>
							<p>今日总支出（元）</p>
							<h4>0.00</h4>
						</dd>
					</dl>
				</li>
				<li>如何获取内衣基金？<span>&#xe620;</span></li>
				<li>内衣基金使用规则<span>&#xe620;</span></li>
			</ul>
		</div>
	</div>
</div>