<div class="info">
	<div class="info-header">
		<a href="" ui-sref="Person.perLogin">&#xe604;</a>
		<h1>我的身材信息</h1>
	</div>
	<div class="info-content">
		<dl>
			<dt><img src="src/images/dt_03.png" alt=""></dt>
			<dd>
				<h5>完善身材</h5>
				<p>为了给您提供更贴心的服务，</p>
				<p>请设置自己的个人身材信息哦~</p>
			</dd>
		</dl>
		<dl>
			<dt><img src="src/images/dt_06.png" alt=""></dt>
			<dd>
				<h5>领奖励</h5>
				<p>首次完善后将获得50元代金券，</p>
				<p>个人身材信息可随时修改。</p>
			</dd>
		</dl>
		<a href="" class="begin">立即开始</a>
	</div>
</div>