<div class="request">
	<div class="request-header">
		<a href="" ui-sref="Person.perLogin">&#xe604;</a>
		<h1>送好友50元代金券</h1>
	</div>
	<div class="request-content">
		<div class="img">
			<img src="src/images/big_02.png" alt="">
		</div>
		<div class="request-box">
			<h5>分享邀请码给好友</h5>
			<ul>
				<li>
					<i class="font">&#xe501;</i>
					<b>微信好友</b>
				</li>
				<li>
					<i class="font">&#xe601;</i>
					<b>朋友圈</b>
				</li>
				<li>
					<i class="font">&#xe65c;</i>
					<b>微博</b>
				</li>
			</ul>
		</div>
	</div>
</div>