.expchakan-header-bar{
	 width:100%;
	 height:0.84rem;
     position: fixed;
     top:0;
     background:#F7F7F7;
     z-index: 999;
        h3 {
            position: absolute;

            left: 1.2rem;
            right: 1.2rem;
            text-align: center;
            line-height: 0.84rem;
            font-size:14px;
            font-weight: normal;
            color:#414147;
        }
        .icon-group {
            height:0.84rem;
            display: -webkit-box;
            -webkit-box-align: center;
            -webkit-box-pack: center;
           
            &.left-icon-group {
                float: left;

            }
            &.right-icon-group {
                float: right;
            }

            .icon {
                display: -webkit-box;
                -webkit-box-align: center;
                -webkit-box-pack: center;
                color: #64c4a8;
                margin-right:0.1rem;

                i {
                    margin-right: 0.05rem;
                    width:0.32rem;
                    display:block;
                    &.back{
                        font-size:0.45rem;
                    }
                    &.zan{
                        color:#D6D7DB;
                        margin-right:0.45rem; 
                    }
                    &.car{
                         background:url(../img/car_03.jpg);
                         background-size:cover; 
                    }
                     &.search{
                         background:url(../img/search_03.jpg);
                         background-size:cover;
                         
                    }
                }
            }
        }
}