.oxygen-header-bar{
	 width:100%;
	 height:0.84rem;
	 border-bottom:solid 0.5px #ccc;
     background:#f3f4f5;
     position: fixed;
     top:0;
     z-index: 999;
        h3 {
            position: absolute;
            left: 1.2rem;
            right: 1.2rem;
            text-align: center;
            line-height: 0.84rem;
            font-size:14px;
            font-weight: normal;
        }
        .icon-group {
            height:0.84rem;
            display: -webkit-box;
            -webkit-box-align: center;
            -webkit-box-pack: center;
            padding: 0 0.2rem;
            &.left-icon-group {
                float: left;
            }
            &.right-icon-group {
                float: right;
            }
            .icon {
                display: -webkit-box;
                -webkit-box-align: center;
                -webkit-box-pack: center;
                color: #64c4a8;
                margin-right:0.1rem;
                output{
                    font-size:0.16rem;
                }
                i {
                    margin-right: 0.05rem;
                    width:0.32rem;
                    height:0.42rem;
                    display:block;
                    &.car{
                         background:url(../img/car_03.jpg);
                         background-size:cover; 
                    }
                     &.search{
                         background:url(../img/search_03.jpg);
                         background-size:cover; 
                    }
                }
            }
        }
}